<script src="../create-account/create-account.component.spec.ts"></script>
<div class="login-page">
  <div class="form" *ngIf="flag&&!newPass">
    <h3>Lấy lại mật khẩu</h3>
    <form class="login-form">
      <input  [(ngModel)]="user.Username" name="user" type="text" placeholder="username"/>
      <button (click)="reset()">gửi OTP</button>
      <h3 *ngIf="notExist">Tài khoản không tồn tại</h3>
    </form>
  </div>

  <div class="form" *ngIf="!flag&&!newPass" style="width: 800px; right: 50px">
    <h3>nhập vào mã otp đã gửi vào sđt: {{user.Sdt}}</h3>
    <form class="login-form">
      <ng-otp-input (onInputChange)="getInputOtp($event)"  [config]="{length:5}"></ng-otp-input>
      <button style="margin-top: 20px" (click)="verify()">Xác thực</button>
    </form>
  </div>

  <div class="form" *ngIf="newPass">
    <h3>Mật khẩu mới: {{newPass}}</h3>
    <form class="login-form">
      <button (click)="backLogin()">về trang login</button>
    </form>
  </div>

</div>
